


h2.choices {
	color:red;
	text-align: start;
	border: 5px solid black 5%;
	font-style: Arial;
}
h3 {
	color:blue;
	text-align: start;
}

table, th,td {
	border: 2px solid black
	height: 200px;
	width: 100%
	text-align: center;
}
.brand {
	text-align: start;
	font-size: 20px;
	font-family: Arial;
}
#article-title {
	text-transform: uppercase;
	font-family: cursive;
	color: purple;
	text-align: start;
}
h3, p{
	font-family: Helvetica ;
}
